@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top right, #162C39, #09141A);
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}

.gradient-bg {
  background: radial-gradient(121.73% 121.49% at 100% -3.39%, #1F4247 0%, #0D1D23 56.18%, #09141A 100%);
  /* Ensure it covers the whole screen fixed */
  background-attachment: fixed;
  background-size: cover;
}